{% extends 'store/base.html' %}
{% load static %}
{% block head %}
{{ block.super }}

{% endblock %}
{% block title %}Chính sách kiểm hàng{% endblock %}
{% block content %}


<div class="container policy-container">
    <h1 class="text-center mb-4">Chính sách kiểm hàng </h1>
    <p>Tại <strong>Móc & More</strong>, chúng tôi luôn mong muốn khách hàng có trải nghiệm hài lòng nhất khi nhận sản phẩm.</p>

    <div class="policy-section">
        <div class="policy-heading">1. Quy định kiểm hàng</div>
        <div class="policy-content">
            <ul>
                <li>Khách hàng có thể yêu cầu kiểm tra sản phẩm trước khi nhận hàng.</li>
                <li>Kiểm tra số lượng, mẫu mã, chất lượng sản phẩm có đúng với đơn hàng đã đặt hay không.</li>
            </ul>

        </div>
    </div>

    <div class="policy-section">
        <div class="policy-heading">2. Trường hợp từ chối nhận hàng</div>
        <div class="policy-content">
            <ul>
                <li>
                    Khách hàng có quyền từ chối nhận hàng trong các trường hợp sau:
                    <ul>
                        <li>Sản phẩm bị hư hỏng, trầy xước, lỗi kỹ thuật do nhà sản xuất hoặc do quá trình vận chuyển.</li>
                        <li>Sản phẩm không đúng mẫu mã, màu sắc, số lượng như đã đặt.</li>
                        <li>Bao bì sản phẩm bị rách, bong tróc hoặc có dấu hiệu đã qua sử dụng.</li>
                    </ul>
                </li>
                <li>Nếu sản phẩm không có lỗi, khách hàng vui lòng nhận hàng theo đúng thỏa thuận.</li>
            </ul>


        </div>
    </div>

    <div class="policy-section">
        <div class="policy-heading">3. Hướng dẫn xử lý khi phát hiện lỗi</div>
    </div>
    <div class="policy-content">
        <ul>
            <li>Ngay khi phát hiện vấn đề, khách hàng cần phản hồi ngay với nhân viên giao hàng hoặc liên hệ với chúng tôi qua hotline/fanpage.</li>
            <li>Chúng tôi sẽ hỗ trợ đổi trả hoặc giải quyết khiếu nại để đảm bảo lợi ích của bạn.</li>
        </ul>

    </div>
</div>


{% endblock %}