{% extends 'store/base.html' %}
{% load static %}
{% block head %}
{{ block.super }}

{% endblock %}
{% block title %}Chính sách và quy định chung{% endblock %}
{% block content %}

<div class="container policy-container">
    <h1 class="text-center mb-4">Chính sách và Quy định chung</h1>
    <p>Để đảm bảo quyền lợi cho khách hàng và duy trì chất lượng dịch vụ tốt nhất, <strong>Móc & More</strong> áp dụng các chính sách và quy định chung sau đây:</p>

    <div class="policy-section">
        <div class="policy-heading">1. Phạm vi áp dụng</div>
        <div class="policy-content">
            <ul>
                <li>Chính sách và quy định này áp dụng cho tất cả khách hàng mua sắm tại <strong> Móc & More</strong> qua Facebook hoặc website chính thức. </li>
                <li> Mọi giao dịch đều tuân thủ theo các điều khoản này, trừ trường hợp có thỏa thuận khác được xác nhận bởi <strong>Móc & More</strong>. </li>
            </ul>

        </div>
    </div>

    <div class="policy-section">
        <div class="policy-heading">2. Chính sách đặt hàng</div>
        <div class="policy-content">
            <ul>
                <li>Khách hàng có trách nhiệm cung cấp thông tin đầy đủ và chính xác khi đặt hàng, bao gồm tên, địa chỉ, số điện thoại và yêu cầu cụ thể (nếu có). </li>
                <li>Đơn hàng sẽ được xử lý và giao theo thông tin đã cung cấp. <strong>Móc & More</strong> không chịu trách nhiệm nếu khách hàng cung cấp sai thông tin. </li>
            </ul>
        </div>
    </div>

    <div class="policy-section">
        <div class="policy-heading">3. Chính sách huỷ đơn hàng</div>
        <div class="policy-content">
            <ul>
                <li>Đơn hàng đã được giao hoặc đang trong quá trình giao sẽ không thể hủy.</li>
            </ul>
        </div>
    </div>

    <div class="policy-section">
        <div class="policy-heading">4. Chính sách thanh toán</div>
        <div class="policy-content">
            <ul>
                <li>
                    <strong>Móc & More</strong> hỗ trợ các phương thức thanh toán sau:
                    <ul>
                        <li>Thanh toán khi nhận hàng (COD).</li>
                        <li>Chuyển khoản ngân hàng trước khi giao hàng></li>
                    </ul>
                </li>
                <li>
                    Với các đơn hàng chuyển khoản, khách hàng cần thanh toán đầy đủ trước khi giao hàng. Đơn hàng chỉ được xác nhận khi "Móc & More" nhận được khoản thanh toán.
                </li>
            </ul>
        </div>
    </div>

    <div class="policy-section">
        <div class="policy-heading">5. Cam kết chất lượng</div>
        <div class="policy-content">
            <ul>
                <li>Tât cả sản phẩm của <strong>Móc & More</strong> đều được làm từ nhựa mica trong suốt và kim loại chống gỉ. Đảm bảo sản phẩm bền đẹp theo thời gian.</li>
            </ul>

        </div>
    </div>

    <div class="policy-section">
        <div class="policy-heading">6. Giải quyết khiếu nại</div>
        <div class="policy-content">
            <ul>
                <li>
                    Mọi thắc mắc hoặc khiếu nại về sản phẩm, dịch vụ sẽ được tiếp nhận qua:
                    <ul>
                        <li>Fanpage Facebook chính thức của <strong>Móc & More</strong>.</li>
                        <li>Hotline hỗ trợ khách hàng.</li>
                    </ul>
                </li>
                <li>
                    Chúng tôi cam kết phản hồi và giải quyết trong vòng 24 giờ kể từ khi nhận được thông tin.
                </li>
            </ul>
        </div>
    </div>

    <div class="policy-section">
        <div class="policy-heading">7. Thay đổi và cập nhật chính sách</div>
        <div class="policy-content">
            <ul>
                <li>
                    <strong>Móc & More</strong> có quyền thay đổi hoặc cập nhật các chính sách và quy định này bất cứ lúc nào mà không cần báo trước. Thông tin sẽ được đăng tải trên website hoặc fanpage chính thức.
                </li>
            </ul>
        </div>
    </div>

</div>


{% endblock %}